@import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/journal/bootstrap.min.css");

/* force mobile-always look */
body {
    max-width: 360px;
    margin: auto;
    background-color: #666;
    font-size: 0.9em;
}

#root {
    background-color: #fff;
}

.navbar-brand a {
    text-decoration: none;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.25em;
    color: #666;
}

footer {
    padding: 6px;
}

